$grapegray: #402D32
$maroon: #B50E4B
$pink: #E9154A
$redorange: #E94626
$orange: #EE601F
$oker: #F28E1D
$yellow: #F5AF13
$lemon: #F8D94B
$almond: #F9E9A1

.admin
  background: #f0f0f0
  margin: 0
  padding: 20px
  font-family: sans-serif

  .articles
    list-style-type: none
    padding: 0

    li
      display: flex
      padding: 10px 13px
    li:nth-child(2n+1)
      background: rgba(0,0,0,.05)
    a
      flex: 2
    span:first-of-type
      flex: 1
    span:last-of-type
      flex: 2

.articles-edit
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: stretch
  overflow: hidden
  flex-direction: column

  nav
    flex: 0
    background: $grapegray
    padding: 4px 20px

    a
      color: white
      text-decoration: none
      opacity: .5

  .content
    display: flex
    justify-content: stretch
    padding: 0
    flex: 1

  form
    flex: 1
    padding: 20px
    background: #f0f0f0
    overflow: auto
    display: flex
    flex-direction: column

  textarea
    flex-grow: 1

  .preview
    flex: 1
    padding: 16px 40px 40px
    overflow: auto
    background: white

