$grapegray: #402D32
$maroon: #B50E4B
$pink: #E9154A
$redorange: #E94626
$orange: #EE601F
$oker: #F28E1D
$yellow: #F5AF13
$lemon: #F8D94B
$almond: #F9E9A1

*
  box-sizing: border-box

body
  margin: 0
  font-family: 'Lato', sans-serif

body,
input:not([type]),
textarea,
select
  font-size: 16px

input:not([type]),
textarea,
select
  font-size: 16px
  line-height: 1.2em
  display: block
  margin: 0 0 1em
  font-family: sans-serif
  padding: 8px 10px 6px
  border-radius: 4px
  border: 1px solid silver
  box-shadow: inset 0 1px 2px silver

textarea
  height: 15em

button,
[type=submit]
  background: gray
  color: white
  border: none
  border-radius: 4px
  padding: 8px 10px
  font-size: 14px
  line-height: 1.2em
  font-family: sans-serif
  text-transform: uppercase
  font-weight: bold

code
  font-size: 16px

.highlight pre
  font-family: Inconsolata
  padding: 16px

.highlight
  border-radius: 4px
  background: #222 !important

.content
  box-shadow: inset 0 24px 0 $grapegray
  padding: 24px 20px

.centered
  margin: 0 auto
  max-width: 45em
  padding-top: 5em
  position: relative
  background: white

  &:before
    content: ''
    position: absolute
    top: -24px
    left: 0
    width: 100%
    height: 24px
    box-shadow: inset 24px 0 0 $maroon, inset 48px 0 0 $pink, inset 72px 0 0 $redorange, inset 96px 0 0 $orange, inset 120px 0 0 $oker, inset 144px 0 0 $yellow, inset 168px 0 0 $lemon, inset 192px 0 0 $almond

.header
  text-transform: uppercase
  color: #444

  h1
    font-size: 18px
    margin: 0 0 .3em

  h2
    font-size: 17px
    font-weight: 300
    margin: 0
    transform: scale(0.983)
    transform-origin: top left

.articles
  font-size: 16px
  padding-top: 2.4em

  .article
    padding-bottom: 4em

  h1
    font-weight: 300
    text-transform: uppercase
    font-size: 26px
    color: $pink
    margin-bottom: 1em
    transition: .2s

    a
      color: inherit
      text-decoration: none

    &:hover
      opacity: 0.8

    @media screen and (min-width: 500px)
      font-size: 36px

  p,
  time
    font-size: 18px
    line-height: 1.7em
    margin-bottom: 1.5em
    font-weight: 300

  time
    color: #b0b0b0

