$grapegray: #402D32
$maroon: #B50E4B
$pink: #E9154A
$redorange: #E94626
$orange: #EE601F
$oker: #F28E1D
$yellow: #F5AF13
$lemon: #F8D94B
$almond: #F9E9A1

*
  box-sizing: border-box

body
  margin: 0
  font-family: sans-serif

h1,
h2,
h3,
h4
  font-family: 'Lato', sans-serif

a
  color: $pink
  font-weight: normal

  &:visited
    color: darken($pink, 15)

body,
input:not([type]),
textarea,
select
  font-size: 16px

input:not([type]),
textarea,
select
  font-size: 16px
  line-height: 1.2em
  display: block
  margin: 0 0 1em
  font-family: sans-serif
  padding: 8px 10px 6px
  border-radius: 4px
  border: 1px solid silver
  box-shadow: inset 0 1px 2px silver

textarea
  height: 15em

button,
[type=submit]
  background: gray
  color: white
  border: none
  border-radius: 4px
  padding: 8px 10px
  font-size: 14px
  line-height: 1.2em
  font-family: sans-serif
  text-transform: uppercase
  font-weight: bold

code
  font-size: 16px

.highlight pre
  font-family: Inconsolata, monospace
  padding: 16px
  line-height: 1.3em
  margin-bottom: 1.4em
  font-weight: 300

.highlight
  border-radius: 4px
  background: #222 !important

.content
  box-shadow: inset 0 24px 0 $grapegray
  padding: 24px 20px

.centered
  margin: 0 auto
  font-size: 16px
  max-width: 42em
  padding-top: 5em
  position: relative
  background: white

  &:before
    content: ''
    position: absolute
    top: -24px
    left: 0
    width: 100%
    height: 24px
    box-shadow: inset 24px 0 0 $maroon, inset 48px 0 0 $pink, inset 72px 0 0 $redorange, inset 96px 0 0 $orange, inset 120px 0 0 $oker, inset 144px 0 0 $yellow, inset 168px 0 0 $lemon, inset 192px 0 0 $almond

.header
  text-transform: uppercase

  a
    color: #444
    text-decoration: none

  h1
    font-size: 18px
    margin: 0 0 .3em
    a
      font-weight: bold

  h2
    a
      font-weight: 300
    font-size: 17px
    margin: 0
    transform: scale(0.983)
    transform-origin: top left

.articles
  font-size: 16px
  padding-top: 2.4em

  .article
    padding-bottom: 1em
    margin-bottom: 4em
    border-bottom: 1px dotted #eee

  h1,
  h2,
  h3,
  h4
    a
      text-decoration: none
      font-weight: inherit
      color: inherit
      position: relative

      &:hover
        color: $pink

        &:before
          content: '#'
          position: absolute
          left: -1em
          top: 0
          color: $pink

  h1
    font-weight: 100
    text-transform: uppercase
    font-size: 26px
    color: $pink
    margin-bottom: 1em
    transition: .2s

    @media screen and (min-width: 500px)
      font-size: 36px

  h2
    font-size: 22px
    font-weight: 600
    margin: 0
    color: #444
    margin: 2em 0 .93em

  h3
    font-size: 18px
    font-weight: 500
    margin: 0
    color: #444
    margin: 2em 0 .93em

  p,
  time,
  li
    line-height: 1.5em
    margin-bottom: 1.1em
    font-weight: 300

    code
      font-size: inherit
      font-family: Inconsolata
      display: inline
      padding: 0 .3em
      background: #eee
      border: 1px solid #ddd
      border-radius: 4px

  time
    display: inline-block
    color: #b0b0b0

  time, .comments-link
    padding: 1em 0

  .comments-link
    float: right
